body {
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?3vuk9c");
  src: url("../fonts/icomoon.eot?3vuk9c#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?3vuk9c") format("truetype"),
    url("../fonts/icomoon.woff?3vuk9c") format("woff"),
    url("../fonts/icomoon.svg?3vuk9c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
span {
  font-family: "icomoon";
}
/* 版心 */
.w {
  width: 1094px;
  margin: 0 auto;
}
/* shortcut */
.fl {
  float: left;
}
.fr {
  float: right;
}

.top-box {
  position: relative;
  width: 1912px;
  height: 100px;
}
/* shortcut部分 */
.top-box .shortcut {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 29.6px;

  background-color: rgb(39, 40, 45);
}
.top-box .shortcut .center {
  height: 29.6px;
  line-height: 29.6px;
}
.top-box .shortcut ul li {
  position: relative;
  float: left;
  
  height: 29.6px;
  margin: 0 30px;
  font-size: 12px;
}


.top-box .shortcut ul li a {
  color: #fff;
}
/* header部分 */
.top-box .header {
  position: fixed;
  z-index: 1;
  top: 29.6px;
  width: 100%;
  height: 70.14px;
  line-height: 70.14px;
  background-color: #fff;
}
.top-box .header a {
  color: #27282d;
}
.top-box .header img {
  width: 44px;
  height: 32px;
  margin-left: 0px;
}
.top-box .header ul .imge {
  margin: 0;
}
.top-box .header ul li {
  float: left;
  height: 36px;
  font-size: 18px;
  margin: 0 40px;
}
.top-box .header li a{
  position: relative;
  height: 36px;
}
.top-box .header  a::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;   
    transform: scaleX(0);
    background-color: #27282d;
    transition: all 0.2s ease;
}
.top-box .header a:hover::before{
  transform: scaleX(1);
}
.top-box .header .rightinfo{
  float: right;
  width: 400px;
  margin-left: 0;
 margin-right: 0;
}
.top-box .header #rentou{
  float: right;
  width: 28px;
  height: 28px;
}
.top-box .header #rentou img{
  width: 28px;
  height: 28px;
}
.top-box .header ul li button {
  float: right;
  width: 78px;
  height: 30px;
  margin-top: 20px;
  margin-right: 50px;
  border: 1px solid #27282d;
  border-radius: 22px;
  font-size: 14px;
}
.top-box .header span{
  float: right;
  font-size: 25px;
  margin-right: 50px;
  color: #bfbfbf;
}
.top-box .header span:hover{
  color: #27282d;
}

.top-box .header li button:hover {
  color: #fff;
  background-color: #27282d;
}
/* top-box end */
/* home部分开始 */
/* home右边开始 */
.home .home-right {
  position: relative;
  float: right;
  width: 317px;
  height: 1671px;
 
}
.home .home-right .title-box{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 317px;
  height: 31px;
  border-top:2px solid #27282d;
  color: #27282d;
  font-size: 18px;
}
.home .home-right .bottom{
  position: absolute;
  top:31px ;
  left: 0px;
  overflow: hidden;
  width: 317px;
  height: 1647px;
}
.home .home-right .bottom:hover{
  animation-play-state:paused;
}
.home .home-right .wrap1{
  width: 317px;
  height: 1640px;
  position: absolute;
  top: 31px;
  left: 0px;
  animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 20s;
  animation-name: roll1;
		            }
.home .home-right .wrap2{
  width: 317px;
  height: 1640px;
  position: absolute;
  top: 1671px; 
  left: 0px;
  animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 20s;
  animation-name: roll2;
		            }
  @keyframes roll1{
             0%{left: 0px; top: 31px;}
             100%{left: 0px; top: -1609px;}
         }
@keyframes roll2{
             0%{left: 0px; top: 1671px;}
             100%{left: 0px; top: 31px;}
         }
.home .home-right .wrap1>div{
  width: 317px;
  height: 205px;
  border-bottom:1px solid #999;
}
.home .home-right .wrap2>div{
  width: 317px;
  height: 205px;
  border-bottom:1px solid #999;
}
.home .home-right .bottom h2{
  color: #27282d;
}
.home .home-right .bottom p{
  margin-top: 50px;
  margin-left: 20px;
  font-size: 16px;
  color: #27282d;
}


/* home左边开始 */
.home-left {
  float: left;
  width: 760px;
}
/* 轮播图部分开始 */
.home .home-left .carousel {
  width: 770px;
  height: 440px;
 
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.home .home-left .carousel {
  max-width: 47rem;
  margin: 0 auto;
  padding: 0rem;
  font-family: 'Lato', sans-serif;
}

.home .home-left .carousel {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.home .home-left .carousel::-webkit-scrollbar {
  width: 0;
}

.home .home-left .carousel::-webkit-scrollbar-track {
  background: transparent;
}

.home .home-left .carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.home .home-left .carousel {
  -ms-overflow-style: none;
}
.home .home-left .carousel ol{
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
.home .home-left .carousel ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:nth-child(1) {
  background-image: url(../images/轮播图-两个男的.jpg);
}
.carousel__slide:nth-child(2) {
  background-image: url(../images/轮播图-卡车.jpg);
}
.carousel__slide:nth-child(3) {
  background-image: url(../images/轮播图-真香.jpg);
}
.carousel__slide:nth-child(4) {
  background-image: url(../images/轮播图-比特币.jpg);
}



.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(142, 142, 146,0.6);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 30%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -0.1rem;
}

.carousel::after,
.carousel__next {
  right: -0.1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: rgba(0, 0, 0,0.5);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
/* 文集部分 */
.home .home-left .para {
  width: 760px;
  height: 210px;
  margin-top: 20px;
}
.home .home-left .para img {
  width: 315px;
  height: 210px;
}
.home .home-left .para .news {
  float: right;
}
.home .home-left .para .line {
  width: 430px;
  height: 5px;
  border-radius: 2px;
  background-color: #27282d;
}

.home .home-left .para .title-box {
  width: 430px;
  height: 39px;
  color: black;
  font-size: 20px;
}
.home .home-left .para .title-box a {
  float: right;
  color: #27282d;
  font-size: 12px;
}
.home .home-left .para .more.div {
  float: right;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 7px solid #ff6060;
  border-bottom: 4px solid transparent;
}
.home .home-left .para h1 {
  width: 430px;
  height: 36px;
  margin-top: 36px;
  font-weight: 400;
  font-size: 28px;
  color: #27282d;
}
.home .home-left .para p {
  width: 430px;
  height: 48px;
  margin-top: 24px;
  color: #27282d;
}
/* 最新部分 */
.home .home-left .latest {
  width: 909px;
  height: 985px;
  margin-top: 20px;
}
.home-left .latest div {
  float: left;
  width: 243px;
  height: 289px;
  margin-right: 14px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: black;
  overflow: hidden;
}
.home-left .latest .line {
  width: 760px;
  height: 5px;
  border-radius: 2px;
  background-color: #27282d;
}

.home-left .latest .title-box {
  width: 760px;
  height: 39px;
  background-color: #fff;
  color: black;
  font-size: 20px;
}
.home-left .latest .title-box a {
  float: right;
  color: #27282d;
  font-size: 12px;
}
.home-left .latest .title-box div {
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 4px solid transparent;
  border-left: 7px solid #ff6060;
  border-bottom: 4px solid transparent;
}

.home-left .latest img {
  width: 243px;
  height: 137px;
  border-radius: 4px 4px 0 0;
}
.home-left .latest .content {
  position: relative;
  width: 243px;
  height: 152px;
  padding: 13px 12px;
  border-radius: 0 0 4px 4px;

  background-color: rgb(244, 244, 244);
}


.home-left .latest h5 {
  font-size: 17px;
  color: #27282d;
  font-weight: 400;
}
.home-left .latest span {
  position: absolute;
  top: 120px;
  left: 215px;
  font-size: 16px;
  color: #bfbfbf;
}
.home-left .latest .left {
  position: absolute;
  top: 120px;
  left: 190px;
}
/* home-left更多部分 */
.home-left .latest .more {
  width: 752px;
  height: 36px;
  margin-bottom: 0px;
  background-color: #fff;
}
.home-left .latest .more a {
  float: left;
  color: black;
}
/* 小三角 */
.home-left .latest .more div {
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-left: 4px solid transparent;
  border-top: 7px solid #ff6060;
  border-right: 4px solid transparent;
}

/* home左边部分结束 */

/* home部分结束 */
/* 会员部分开始 */
.home-center .center-box .line {
  width: 1094px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #27282d;
}

.home-center .center-box .title-box {
  width: 1094px;
  height: 39px;
  color: black;
  font-size: 18px;
}
.home-center .center-box .title-box a {
  float: right;
  color: #27282d;
  font-size: 12px;
}
.home-center .center-box .content {
  width: 1109px;
  height: 299px;
}
.home-center .center-box .content div {
  float: left;
  width: 262px;
  height: 299px;
  margin-right: 15px;
  background-color: black;
}
.home-center .center-box img {
  width: 262px;
  height: 137px;
  border-radius: 4px 4px 0 0;
}
.home-center .center-box .passage .box {
  position: relative;
  width: 262px;
  height: 162px;
  padding: 13px 12px;
  border-radius: 0 0 4px 4px;

  background-color: rgb(244, 244, 244);
}
.home-center .center-box h5 {
  font-size: 16px;
  color: #27282d;
  font-weight: 400;
}
.home-center .center-box span {
  position: absolute;
  top: 120px;
  left: 215px;
  font-size: 16px;
  color: #bfbfbf;
}
.home-center .center-box .left {
  position: absolute;
  top: 120px;
  left: 190px;
}
/* .home-center更多部分 */
.home-center .center-box .more {
  width: 752px;
  height: 36px;
  background-color: #fff;
}
.home-center .center-box .more a {
  float: left;
  margin-top: 5px;
  color: black;
}
/* 小三角 */
.home-center .center-box .more div {
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 4px solid transparent;
  border-left: 7px solid #ff6060;
  border-bottom: 4px solid transparent;
}
/* homecenter深度栏 */
.home-center .it {
  width: 1094px;
  height: 278px;
}
.home-center .it .para-left {
  float: left;
}
.home-center .it img {
  width: 494px;
  height: 278px;
}
.home-center .it .news {
  position: relative;
  float: right;
  width: 587px;
  height: 278px;
}
.home-center .it .line {
  width: 584px;
  height: 5px;
  border-radius: 2px;
  background-color: #27282d;
}

.home-center .it .news h4 {
  width: 584px;
  height: 36px;
  font-weight: 400;
  color: black;
  font-size: 20px;
}

.home-center .it .news h1 {
  width: 584px;
  height: 30px;
  margin-top: 80px;
  font-weight: 400;
  font-size: 20px;
  color: #27282d;
}
.home-center .it .news p {
  width: 584px;
  height: 14px;
  margin-top: 24px;
  color: #999;
}
.home-center .it .news .left {
  position: absolute;
  top: 230px;
  left: 450px;
}
.home-center .it .news span {
  position: absolute;
  top: 230px;
  left: 500px;
  font-size: 16px;
  color: #bfbfbf;
}
/* home-center结束 */
/* 热文推荐部分开始 */
.article-hot {
  width: 1094px;
  margin-top: 20px;
}
.article-hot .line-box {
  width: 1094px;
  height: 5px;
  border-radius: 2px;
  background-color: #27282d;
}

.article-hot .title-box {
  width: 1094px;
  height: 36px;
  padding-bottom: 3px 0;
  background-color: #fff;
  color: black;
  font-size: 18px;
}
.article-hot .title-box a {
  float: right;
  height: 36px;
  margin-top: 5px;
  color: #27282d;
  font-size: 12px;
}
.article-hot .title-box div {
  float: right;
  width: 0;
  height: 0;
  margin-top: 6px;
  margin-left: 5px;
  background-color: #fff;
  border-top: 4px solid transparent;
  border-left: 7px solid #ff6060;
  border-bottom: 4px solid transparent;
}
/* 热文推荐内容开始 */
.article-hot .content-box{
  width: 1110px;
}
.article-hot .content-box .new {
  float: left;
  width: 539px;
  height: 184px;
  margin: 0 16px 16px 0;
}
.article-hot .content-box a{
  width: 529px;
  height: 184px;
  color: #27282d;
  font-size: 16px;
}
.article-hot .content-box img{
  float: left;
  width: 327px;
  height: 184px;
}
.article-hot .content-box .para{
  float: left;
  position: relative;
  width: 212px;
  height: 184px;
  padding: 32px 13px 11px 13px;
  background-color: rgb(244,244,244);
}
.article-hot p{
  width: 186px;
  height: 72px;
  line-height: 24px;
}
.article-hot .left{
  position: absolute;
  top: 160px;
  left: 130px;
}
.article-hot span{
  position: absolute;
  top: 160px;
  left: 165px;
  font-size: 13px;
  color: #bfbfbf;
}
/* footer start */
footer {
  height: 388px;
  padding: 60px 0 50px;
  background-color: #27282d;
}
footer ul {
  height: 90px;
  margin-bottom: 70px;
}
footer .w .first-line .passage {
  margin-right: 0;
}
footer .w .first-line li {
  float: left;
  width: 317px;
  height: 90px;
  margin-right: 65px;
  font-size: 14px;
}
/* 第二行 */
footer section .circle {
  float: left;
  width: 215px;
  height: 48px;
  margin: 0 145px 0 0;
}
footer section .circle li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 18px;
  line-height: 48px;
  text-align: center;
  background-color: #d1d1d1;
  border-radius: 50%;
}
footer section .circle li span {
  color: #27282d;
  font-size: 20px;
}
footer section .link {
  display: inline-block;
  margin: 0;
}
footer .w section .link li {
  float: left;
  font-size: 14px;
  height: 48px;
  margin: 0 28px;
}
/* footer结束 */
/* 登录注册页面部分 */

.log-in {
position: relative;
width: 1359px;
height: 921px;
display: none;
}
.mask {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
z-index: 2;
}
.login-box {
position: fixed;
top: 50%;
left: 50%;
width: 380px;
height: 476px;
padding: 30px;
margin-left: -185px;
margin-top:-208px ;
border-radius: 4px;
background-color: #fff;
box-shadow: 0 10px 20px rgb(0 0 0 / 24%);
padding: 30px;
font-weight: 700;
overflow: hidden;
z-index: 3;
}


.login input{
  -webkit-appearance:none;
-moz-appearance: none;
  width: 320px;
  height: 36px;
  margin-bottom: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  
  background: none;
  padding-left: 16px;
  font-size: 12px;
  line-height: 24px;
}
.login button{
  width: 320px;
  height: 40px;
  margin-bottom: 5px;
  background-color: #27282d;
  color: #fff;
}
.login p{
  color: #27282d;
}
.login #login_sucss{
  margin-left: 50px;
  color: #ff6060;
}